<h1>Organisations</h1>
<ul>
    <% @orgs.each do |org|%>
        <li>
        <h2><%= link_to org.name, organisation_path(org) %> </h2>
        <h4><%= org.location %> </h4>
        <p><%= org.mission %> </p>
        </li>
    <% end%>
</ul>