<h1>Organisations</h1>
<br>
<ul class="list-group">
    <% @orgs.each do |org|%>
        <li class="list-group-item"> 
        <%= render 'display_organisation', org: org %>
        </li>
    <% end%>
</ul>

