<h1>Jobs</h1>
<br>
<% if @jobs.empty?%>
    <p>Sorry we don't have any jobs right now, check back later.</p>
    <%=link_to "Create a new Job", new_event_job_path(@event) if current_user == @event.organisation.owner%>
<% else%>
    <%= render 'display_jobs', jobs: @jobs %>
    <% if @event%>
        <%=link_to "Create a new Job", new_event_job_path(@event), class:"btn btn-outline-primary btn-sm" if current_user == @event.organisation.owner%>
    <% end%>
<% end%>
