<h1>Welcome to the Volunteer Board</h1>

<br>
<% if !user_signed_in?%>
  <%= link_to "Please sign-up or log-in", new_user_session_path %>
<% else%>
  <%= link_to "Volunteers Here", jobs_available_path %>
  <br>
  <% if current_user.organisation%>
    <%= link_to "Organisation Owners Here", organisation_path(current_user.organisation.slug) %>
  <% else %>
    <%= link_to "Organisation Owners Here", new_organisation_path %>
  <% end%>
<% end%>
<br>
