/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Add a background color to the top navigation */

  * {
    font-family: 'Lato', sans-serif;
  }
  body {
    margin: 20px;
  }

  p {
    font-size: medium
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

.topnav {
    background-color: rgb(173, 214, 241);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0c0303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(153, 251, 238);
    color: black;
  }

  .bottomnav {
    background-color: rgb(244, 246, 247);
    overflow: hidden;
  }

  .bottomnav a {
    float: left;
    color: rgb(90, 169, 221);
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  .bottomnav a:hover {
    color: rgb(6, 49, 238);
  }